<%= link_to gravatar_for(current_user, size: 52), current_user %>

<p class="profile-name"><a><%= current_user.name %></a> <%= current_user.make_dog %></p>
<span><%#= link_to pluralize(current_user.microposts.count, "micropost"), current_user %></span>
<span><%#= link_to pluralize(current_user.articles.count, "article"), articles_path + "?author=" + current_user.id.to_s %></span>